* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

body{

}

.container {
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo{
  width: 200px;
  margin: 10px;
}

.inputActions{
  margin: 10px;
}

ul{
  list-style: none;
}

li{
  display: flex;
  justify-content: space-between;
}

.list{
  background-color: lightgrey;
  min-width: 250px;
  height: 30px;
  line-height: 30px;
  font-size: 1.5rem;
}

i{
  cursor: pointer;
}
